<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Song</title>
</head>
<body>
    <a href="/songs">Browse Songs</a>
    <!-- update the header-->
    <h1>Edit Song: <%= song.songTitle %></h1>
    <form action="/songs/<%= song._id %>?_method=PUT" method="POST">
        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist"/>

        <label for="song">Song:</label>
        <input type="text" name="songTitle" value="<%= song.songTitle %>" />

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre"/>

        <label for="BPM">BPM:</label>
        <input type="number" name="BPM" id="BPM"/>

        <button type="submit">Update Song</button>
    </form>
    <br>
    <a href="/songs/">Back to Songs</a>
</body>
</html>