<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Submit a Song</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Submit a Song</h1>
    <form action="/songs" method="POST">
        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist"/>

        <label for="song">Song:</label>
        <input type="text" name="songTitle" id="song"/>

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre"/>

        <label for="BPM">BPM:</label>
        <input type="number" name="BPM" id="BPM"/>

        <button type="submit">Add Song</button>
    </form>
    <br>
    <a href="/songs/">Back to Songs Libary</a>
</body>
</html>